<section class="py-20 px-4 bg-slate-50">
    <div class="max-w-7xl mx-auto">
        <app-section-header 
        [title]="title" 
        [description]="description"
        />
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center">
            @for (cards of cards; track $index) {
                <app-card-about
                [title]="cards.title"
                [description]="cards.description"
                [icon]="cards.icon"
                />
            }
        </div>
    </div>
</section>