<section class="py-20 px-4 bg-slate-50">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold text-slate-900 mb-4">Acerca de la Universidad Andrómeda</h2>
            <p class="text-lg text-slate-600 max-w-2xl mx-auto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, quas saepe, harum, voluptatum at dolor commodi neque sed nam ipsam rem.
            </p>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center">
        <app-card-about/>
        <app-card-about/>
        <app-card-about/>
        <app-card-about/>
        <app-card-about/>
        <app-card-about/>
    </div>
</section>