<section class="py-20 px-4 bg-gradient-to-br from-slate-900 to-indigo-900">
    <div class="max-w-4xl mx-auto">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold text-white mb-4">Contacto</h2>
            <p class="text-lg text-slate-300 max-w-2xl mx-auto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, quas saepe, harum, voluptatum at dolor commodi neque sed nam ipsam rem.
            </p>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-12">
        <app-contact-info/>
        <app-send-msg/>
    </div>

</section>