<div class="card shadow-2xl bg-white/10 backdrop-blur-sm border-0">
    <div class="card-body">

      <h2 class="card-title text-white">Contact Information</h2>
      <p class="text-slate-300 mb-6">Reach out to us through any of these channels.</p>

      
      <div class="flex items-center space-x-3">
        <span class="w-5 h-5 text-amber-400">📧</span>
        <span class="text-white">Correo electronico</span>
      </div>

        <div class="flex items-center space-x-3">
        <span class="w-5 h-5 text-amber-400">📞</span>
        <span class="text-white">+58 424-0000000</span>
      </div>

      
      <div class="flex items-center space-x-3">
        <span class="w-5 h-5 text-amber-400">📍</span>
        <span class="text-white">Torre Carcas Campus, Calle ALta Gracia, Trinidad</span>
      </div>
    </div>
  </div>