<div class="card shadow-lg border-0 bg-gradient-to-br text-white h-full flex flex-col 
            transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl"
     [ngClass]="bgGradient">
  <div class="p-8 flex flex-col flex-grow">
    <div class="flex items-center mb-6">
      <img
        [src]="img"
        alt="Testimonial"
        class="w-16 h-16 rounded-full object-cover mr-4" />
      <div>
        <h4 class="font-semibold">{{ name }}</h4>
        <p class="text-sm opacity-90">{{ career }}</p>
      </div>
    </div>
    <blockquote class="italic opacity-80 mt-auto">
      “{{ description }}”
    </blockquote>
  </div>
</div>
