<section class="py-20 px-4 bg-white">
    <div class="max-w-7xl mx-auto">
        <app-section-header 
        [title]="title" 
        [description]="description"
        />
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 items-stretch">
            @for (testimonials of testimonials; track $index) {
                <div class="h-full">
                    <app-testimonial-card
                    [img]="testimonials.img"
                    [name]="testimonials.name"
                    [career]="testimonials.career"
                    [description]="testimonials.description"
                    [bgGradient]="testimonials.bgGradient"
                    />
                </div>
            }
        </div>
    </div>

</section>
