<section class="py-20 px-4 bg-white">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold text-slate-900 mb-4">Testimonios</h2>
            <p class="text-lg text-slate-600 max-w-2xl mx-auto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, quas saepe, harum, voluptatum at dolor commodi neque sed nam ipsam rem.
            </p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center">
            @for (testimonials of testimonials; track $index) {
                
                <app-testimonial-card
                [img]="testimonials.img"
                [name]="testimonials.name"
                [career]="testimonials.career"
                [description]="testimonials.description"
                />
            }
            
        </div>
    </div>

</section>
